.DS_Store
data/Datasets/
data/Samples/NCDC/*.fastq
data/Samples/NCDC/0-logs
data/Samples/NCDC/1-Trimmomatic
data/Samples/NCDC/3-Human-Aligned
data/Samples/NCDC/4-Human-Unaligned
data/Samples/NCDC/5-COVID-Aligned
data/Samples/Wuhan-Editing-Paper-PRJNA601736/0-logs
data/Samples/Wuhan-Editing-Paper-PRJNA601736/1-Trimmomatic
data/Samples/Wuhan-Editing-Paper-PRJNA601736/3-Human-Aligned
data/Samples/Wuhan-Editing-Paper-PRJNA601736/4-Human-Unaligned
data/Samples/Wuhan-Editing-Paper-PRJNA601736/5-COVID-Aligned
data/Samples/Wuhan-PRJCA002326/*.fq
data/Samples/Wuhan-PRJCA002326/0-logs
data/Samples/Wuhan-PRJCA002326/1-Trimmomatic
data/Samples/Wuhan-PRJCA002326/3-Human-Aligned
data/Samples/Wuhan-PRJCA002326/4-Human-Unaligned
data/Samples/Wuhan-PRJCA002326/5-COVID-Aligned
tools
