.DS_Store
.ipynb_checkpoints
data/datasets/GRCh37-Assembly
data/datasets/NC_045512.2
data/samples/cohorts/*/*/SRR*
data/samples/cohorts/*/*/ERR*
data/samples/regions/*/*/SRR*
data/samples/regions/*/*/ERR*
data/samples/*/*/*/*.fastq
data/samples/*/*/*/1-Trimmomatic
data/samples/*/*/*/3-Human-Aligned
data/samples/*/*/*/4-Human-Unaligned
data/samples/*/*/*/5-COVID-Aligned
tools

